.circle__top-left {
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 50%;
}
.circle__top-left {
  top: 25%;
  left: 39%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.circle__top-left:hover {
  z-index: 1;
  background: #000;
}

.circle__bottom-left {
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 50%;
}
.circle__bottom-left {
  top: 75%;
  left: 39%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.circle__bottom-left:hover {
  z-index: 1;
  background: rgb(108, 235, 4);
}

.circle__top-right {
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 50%;
}
.circle__top-right {
  top: 25%;
  right: 39%;
  transform: translate(50%, -50%);
  position: absolute;
}
.circle__top-right:hover {
  z-index: 1;
  background: rgb(221, 245, 4);
}
.circle__bottom-right {
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 50%;
}
.circle__bottom-right {
  top: 75%;
  right: 39%;
  transform: translate(50%, -50%);
  position: absolute;
}
.circle__bottom-right:hover {
  z-index: 1;
  background: rgb(215, 4, 235);
}

.square__blue {
  height: 300px;
  width: 300px;
  background-color: rgb(60, 66, 243);
}
.square__blue {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  position: absolute;
}
.square__blue:hover {
  background: rgb(232, 4, 156);
  z-index: 1;
}

.square__yellow {
  height: 150px;
  width: 150px;
  background-color: rgb(245, 210, 8);
  border-radius: 10%;
}

.square__yellow {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  position: absolute;
}
